.nav {
    widht: 100wv;
   
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: left;
  opacity: 30%;
}

.nav-logo {
    max-witdth: 50px;
    max-height: 50px;
}

.links-container{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.links-container > a {
    text-decoration: none;
    front-size: 1.2em;
    color:aqua;

}

.links-container > a:hover {
    color:cornflowerblue;
}